/*......................... 
      Universal selector
  ..........................*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

/*.................................... 
         top-banner section
 .....................................*/

.top-banner {
    display: flex;
    height: 550px;
    width: 1180px;
    margin-left: 85px;
    background-color: #161616;
    border-radius: 20px;


}

.top-banner-details {
    width: 50%;
    margin-left: 130px;
    margin-top: 100px;

}

.top-banner-details h1 {
    font-size: 45px;
    margin-bottom: 10px;
    color: #FFFFFF;
    font-weight: 700;
}

.top-banner-details p {
    color: #ffffffad;
}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    color: white;
    margin-top: 20px;
    border-radius: 5px;
    background: linear-gradient(orangered, purple);

}

.top-banner-image {
    width: 50%;
    margin-top: 30px;
    text-align: end;
    margin-right: 80px;

}

.top-banner-image img {
    width: 85%;
}

/*...................................... 
           animation part  
.......................................*/

.man {

    transition: transform 0.2s ease-in;
}

.top-banner:hover .man {
    transform: rotate(-30deg);
    transform-origin: left bottom;
}

.ball {
    width: 100px;
    height: 100px;
    background: linear-gradient(black, gray);
    border-radius: 50px;
    transition: transform 1s ease-out 0.2s;
}

.top-banner:hover .ball {
    transform: translate(-400px, -100px);
}

/*......................................... 
               Blog Section 
 ..........................................*/
.blog {
    display: flex;
}

.sidebar {
    display: flex;
    flex-direction: column;
    grid-row: 1/ -14;
    background-color: #161616;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-top: 80px;
    padding: 30px;
    margin-left: 60px;

}

.sidebar a {
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    color: #141414;
    margin-top: 20px;
    background-color: #FFFFFF;
    border-radius: 5px;

}


.sports-news {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-left: 20px;

}

.sports-news-detail {
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    text-align: left;
    padding: 5px;
    margin-top: 76px;
}

.sports-news-detail a,
p {
    padding: 10px;
}

.sports-news-detail .time {
    padding: 20px;
}

.sports-news-detail img {
    width: 100%;
}

a {
    text-decoration: none;
}

/*................................... 
    Button part for tablet users
 ...................................*/
.view {
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    visibility: hidden;


}

.view button a {
    color: white;
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.884);

}

/*................................. 
          Footer section 
 .................................*/

.footer-section {
    background-color: #161616;
    color: #FFFFFF;
    margin-top: 100px;
}

.footer-section h4 {
    text-align: center;
    padding-top: 20px;

}

.information-link {
    text-align: center;
    margin-top: 10px;
}

.footer-section a {
    text-decoration: none;
    padding-right: 10px;
    font-size: 12px;
    color: #B9B9B9;
}

.social-site {
    text-align: center;

}

.social-site a {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    margin-top: 10px;
    padding-right: 20px;
    color: #FFFFFF;
}

hr {
    border: none;
    color: #333;
    height: 1px;
    background-color: #333;

}

/*............................................ 
     Upcoming Match Html file css part  
..............................................*/
.live-sports{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    margin-left: 30px;
}
 .detail{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.info-text{
    text-align: center;
}
.sports-detail{
    margin-top: 80px;
    padding: 20px;
}
.blog-button:hover{
    
    background-color:orangered;
}

/*................................................ 
            View group file css part
  ...............................................*/

.all-group{
    display: grid;
    grid-template-rows:repeat(3, 1fr) ;
}

/*........................................... 
                Media Query 
.............................................*/

/*........................................... 
           For Mobile Devices
 ............................................*/

@media screen and (max-width:688px) {
    .top-banner {
        height: 600px;
        width: 100vw;
        margin: 5%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
    }

    .top-banner-details {
        width: 50%;
        height: 25%;
        margin: 20%;
        margin-top: 30px;
        text-align: justify;

    }

    .top-banner h1 {
        text-align: center;
        width: 228px;
        left: 74px;
        font-weight: bold;
        font-size: 25px;

    }

    .top-banner p {

        font-size: 15px;
    }

    .btn {
        margin-left: 40px;
    }

    .ball {
        width: 50px;
        height: 50px;
        margin-left: 50px;
    }

    .top-banner-image {
        width: 80%;
        margin: 0%;
    }

    .top-banner-image img {
        margin-left: 77px;
    }

    .sports-news {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 30px;
    }

    .blog {
        flex-direction: column;

    }

    .sports-news-detail {
        width: 100%;
    }

    .sidebar {
        background-color: #FFFFFF;
        width: 90%;
        margin-left: 10px;
        margin-top: 0%;

    }

    .sidebar a {
        padding-top: 10px;
        border: 1px solid rgb(238, 230, 230);
        border-radius: 10px;

    }

    .information-link {
        display: flex;
        flex-direction: column;

    }

    .information-link a {
        padding: 10px;
    }
    
    /*................................ 
        upcoming match media query
    ................................ */

    .live-sports{
        display: grid;
        grid-template-columns: repeat(1, 1fr)
    }
}

/*............................................... 
             For Tablet Users
 ...............................................*/

@media screen and (min-width:688px) and (max-width:992px) {
    .top-banner {
        margin-left: 20px;
        margin-right: 40px;
        width: 100%;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
    }

    .top-banner-details {
        margin-top: 40px;
        margin-left: 40px;
    }

    .sidebar {
        margin-bottom: 0%;
    }

    .sports-news {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        margin: 0 auto;
    }

    .blog {

        flex-direction: column;
        justify-content: center;
        flex-direction: column;
        align-items: center
    }

    .sidebar {
        flex-direction: row;
        background-color: #FFFFFF;
        width: 60%;
        height: 50%;
        margin: auto;
    }

    .sidebar a {
        display: inline-block;
        width: 100%;
        border: 1px solid rgb(238, 230, 230);
        border-radius: 10px;
    }

    .information-link {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .view {
        visibility: visible;
    }

    /*..................................... 
           upcoming match media query
    ...................................... */
    .live-sports{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
}



