/* Universal selector*/
* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* top-banner section */

.top-banner {
    display: flex;
    height: 550px;
    width: 1100px;
    margin-left: 124px;
    background-color: #161616;
    border-radius: 20px;


}

.top-banner-details {
    width: 50%;
    margin-left: 130px;
    margin-top: 100px;
    /* text-align: end; */

}

.top-banner-details h1 {
    font-size: 45px;
    margin-bottom: 10px;
    color: #FFFFFF;
    font-weight: 700;
}

.top-banner-details p {
    color: #ffffffad;
}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    margin-top: 20px;
    color: #FFFFFF;
    border-radius: 5px;
    background: linear-gradient(orangered, purple);

}

.top-banner-image {
    width: 50%;
    margin-top: 30px;
    text-align: end;
    margin-right: 80px;

}

.top-banner-image img {
    width: 85%;
}

/* animation part  */
.man {

    transition: transform 0.2s ease-in;
}

.top-banner:hover .man {
    transform: rotate(-30deg);
    transform-origin: left bottom;
}

.ball {
    width: 100px;
    height: 100px;
    background: linear-gradient(black, gray);
    border-radius: 50px;
    /* position: relative; */
    transition: transform 1s ease-out 0.2s;
}

.top-banner:hover .ball {
    transform: translate(-400px, -100px);
}

/* blog section */

.blog{
    margin-left: 125px;
}
.sports-news {
    display: grid;
    width: 70%;
    grid-template-columns: 200px repeat(3, 280px);
     column-gap: 20px;

    
     
}

.sidebar{
    display: flex;
    flex-direction: column;
    grid-row: 1/ -14;
    background-color: #161616;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-top: 80px;
    padding: 30px;
    
}


.sidebar a {
    text-decoration: none;
    text-align: center;
    color: #292222;
    margin-top: 20px;
    background-color: #FFFFFF;
    border-radius: 5px;

}

/* sports news section  */
.sports-news-detail {

    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    text-align: left;
    padding: 5px;
    margin-top: 76px;
}

 .sports-news-image img {
    width: 80%;
   
}

.sports-news-image a {
    text-decoration: none;
    font-size: 15px;
    color: #161616;
    border: 1px solid gray;
    margin-left: 10px;
}

.sports-news-text {
    padding-left: 15px;
}

.sports-news-text p {
    font-size: 14px;
    color: #161616;
    margin-top: 20px;
}

.sports-news-text .time {
    padding: 10px;
}

/*................ 
   footer section 
 ...................*/

 .footer-section{
    background-color: #161616;
    color: #FFFFFF;
    margin-top: 100px;
 }
 .footer-section h4{
    text-align: center;
    padding-top: 20px;

 }
 .information-link{
    text-align: center;
 }
 .footer-section a{
    text-decoration: none;
    padding-right: 10px;
    font-size: 12px;
    color: #B9B9B9;
 }
 .social-site{
    text-align: center;
 }
 .social-site a{
    text-decoration: none;
    font-size: 20px;
    padding-right: 20px;
    color: #FFFFFF;
 }